h1 {
    text-align: center;
}

body {
    padding: 0px;
    margin: 1px;
    text-align:center;
    background-color: #b7d1c4;
}

/*.container {
    /*width: 100%;
    margin-left:5%;
    margin-right:5%;
    padding: 20px;
    text-align: center;
    float:center;
    height: 72%;
    border: 2px solid black;
}*/

.container {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 72%;
}

.left {
	width: 45%;
	float: left;
}
.queryobject {
    width: 40%;
    /*border:5px white solid;*/
    opacity: 0.8;
    float: left;
    display: inline-block;
    vertical-align: middle; 
}

.queryobject2 {
    width: 40%;
    /*border:5px white solid;*/
    opacity: 0.8;
    /*float: right;*/
    display: inline-block;
    vertical-align: middle; 
}

.queryobject:hover {
    /*border:5px black solid;*/
    opacity: 1;
}

.queryobject2:hover {
    /*border:5px black solid;*/
    opacity: 1;
}

.middle {
    margin-left:5%;
    margin-right:5%;

    display: inline-block;
    vertical-align: middle;    
}

.right {
	width: 45%;
	float: right;
}

p {
    color: black;
}

.thumbnail {
    float: left;
    width: 110px;
    height: 90px;
    margin: 5px;
}


img {
    width: 100%;
           /*width: 200px;*/
           /*height: 200px;*/
}

#header {
	position: relative;
	padding: 0.125em;
	top: -7px;
	background-color: #3c4543;
	height: 55px;
	/*border-top-left-radius: 15px;
	border-top-right-radius: 15px;*/
}

#footer{
	clear: both;
	position: absolute;
	bottom: 0px;
	/*border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;*/
	height: 55px;
	background-color: #3c4543;
    width: 100%;
    color: #b7d1c4;
}
h2 {
	color: #b7d1c4;
	top: -22%
	position: relative;
}

#imgWidth {
	width: 60%;
}

#or {
    position: absolute;
    max-width:5%;
    max-height:7%;
    margin-left: -4.63241%;
    margin-top: 0%;
}

#pfoot {
    color: #b7d1c4;
    vertical-align: middle;
}
